In [1]:
import pandas as pd
import psycopg2

In [2]:
df = pd.read_csv('MIMIC_WITHOUT_OUTLIERS_ITERATIVE_IMPUTATION.csv')

In [3]:
df.dtypes

subject_id                           float64
hadm_id                              float64
group_id                             float64
rel_day                              float64
age                                  float64
gender_m                             float64
marital_status_divorced              float64
marital_status_life partner          float64
marital_status_married               float64
marital_status_separated             float64
marital_status_single                float64
marital_status_unknown_default       float64
marital_status_widowed               float64
bmi                                  float64
heart_rate                           float64
flag_heart_rate_alarm_low            float64
flag_heart_rate_alarm_high           float64
oxygen_saturation                    float64
flag_oxygen_saturation_alarm_high    float64
flag_oxygen_saturation_alarm_low     float64
arterial_blood_pressure_systolic     float64
arterial_blood_pressure_diastolic    float64
arterial_blood_pressure_mean         float64
dod_label                            float64
dtype: object

In [50]:
conn = psycopg2.connect(database="postgres",
                        user='postgres', password='kartikay', 
                        host='127.0.0.1', port='5432'
)

In [51]:
conn.autocommit = True
cursor = conn.cursor()

In [53]:
sql = '''CREATE TABLE MIMIC (
   subject_id NUMERIC,
   hadm_id NUMERIC,
   group_id NUMERIC,
   rel_day NUMERIC,
   age NUMERIC,
   gender_m NUMERIC,
   marital_status_divorced NUMERIC,
   marital_status_life_partner NUMERIC,
   marital_status_married NUMERIC,
   marital_status_separated NUMERIC,
   marital_status_single NUMERIC,
   marital_status_unknown_default NUMERIC,
   marital_status_widowed NUMERIC,
   bmi NUMERIC,
   heart_rate NUMERIC,
   flag_heart_rate_alarm_low NUMERIC,
   flag_heart_rate_alarm_high NUMERIC,
   oxygen_saturation NUMERIC,
   flag_oxygen_saturation_alarm_high NUMERIC,
   flag_oxygen_saturation_alarm_low NUMERIC,
   arterial_blood_pressure_systolic NUMERIC,
   arterial_blood_pressure_diastolic NUMERIC,
   arterial_blood_pressure_mean NUMERIC,
   dod_label NUMERIC
);'''

In [54]:
cursor.execute(sql)

In [55]:
sql2 = '''COPY MIMIC(subject_id,
hadm_id,
group_id,
rel_day,
age,gender_m,
marital_status_divorced,
marital_status_life_partner,
marital_status_married,
marital_status_separated,
marital_status_single,
marital_status_unknown_default,
marital_status_widowed,
bmi,
heart_rate,
flag_heart_rate_alarm_low,
flag_heart_rate_alarm_high,
oxygen_saturation,
flag_oxygen_saturation_alarm_high,
flag_oxygen_saturation_alarm_low,
arterial_blood_pressure_systolic,
arterial_blood_pressure_diastolic,
arterial_blood_pressure_mean,
dod_label)
FROM 'C:/Users/karti/PycharmProjects/Master_Thesis/SQL/MIMIC.csv'
DELIMITER ','
CSV HEADER;'''

In [56]:
cursor.execute(sql2)

In [57]:
df.to_csv('MIMIC_WITHOUT_OUTLIERS_ITERATIVE_IMPUTATION.csv', index=False)